#add-to-library-modal {
  width: 50vw;
  min-width: 350px;
  display: flex;
  flex-flow: column;
  padding-bottom: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;

  border: 0.2px solid black;
}

#add-to-library-modal > p {
  opacity: 0.5;
}

.category-options {
  min-width: 50%;
  max-width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
}

#add-category-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category-label {
  word-wrap: break-word;
  max-width: 20vw;
}

#add-to-library-header {
  background-color: #20132e;
  text-align: center;
  font: bold;
  padding: 5px;
  margin-bottom: -8px;
}
