#add-to-library-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  max-height: 600px;
}

#add-to-library-modal > p {
  opacity: 0.5;
}

.category-options {
  min-width: 50%;
  max-width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
}

#add-category-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category-label {
  word-wrap: break-word;
  max-width: 20vw;
}

#add-to-library-header {
  background-color: #20132e;
  text-align: center;
  font: bold;
  padding: 5px;
  margin-bottom: -8px;
}
