.comic-info {
  width: 100%;
  max-width: 500px;
  /* display: flex; */
  border: 1px solid white;
  background-color: #102b3f;
  font-family: "Mulish", sans-serif;
  /* flex-wrap: wrap; */
}

.comic-info > img {
  float: left;
}
.comic-info-display {
  text-align: center;
}

.comic-info-wrapper {
  display: flex;
  justify-content: center;
}

#comic-info-header {
  font-weight: 900;
  text-shadow: 2px 2px 2px black;
}

.comic-info-issues {
  overflow-y: scroll;
  max-height: 300px;
  background-color: #0b1f2e;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.comic-info-issue-link {
  border: 1px solid rgba(0, 0, 0, 0.388);
}

.comic-info-issue-link:hover {
  text-decoration: underline;
  color: cyan;
}
