.comic-info {
  width: fit-content;
  display: flex;
  border: 1px solid white;
  background-color: #102b3f;
  font-family: "Mulish", sans-serif;
  flex-wrap: wrap;
}
.comic-info-display {
  text-align: center;
}

.comic-info-display > img {
  width: 300px;
  /* margin: auto; */
  height: auto;
}

.comic-info-wrapper {
  display: flex;
  justify-content: center;
}

#comic-info-header {
  font-weight: 900;
  text-shadow: 2px 2px 2px black;
}

.comic-info-issues {
  overflow-y: scroll;
  max-height: 300px;
  /* color: black; */
  background-color: #0b1f2e;
  display: flex;
  flex-flow: column;
  text-align: center;
}
a:hover {
  /* color: black; */
  text-decoration: underline;
  color: green;
}
