.global-modal {
  display: flex;
  justify-content: center;
  margin: auto;
}

#modal-content {
  background-color: rgb(23, 23, 23);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#modal-content::-webkit-scrollbar {
  display: none;
}

.wide-modal {
  width: 75vw;
}
