#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#header > span {
  min-width: 33%;
}

#header > h1 {
  font-family: Bangers;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}

#menu {
  min-width: 33%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}
