#homepage-header {
  font-family: Bangers;
  text-align: center;
  font-size: 60px;
}
#img-slideshow {
  text-align: center;
  overflow: hidden;
}
#slideshow-wrapper {
  display: flex;
  justify-content: center;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.slide-show-img {
  max-width: 1077px;
  max-height: 279px;
}
