.issues-container-body {
  width: 50vw;
}

.issues-container-header {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-flow: row;
}

#ascend-descend-button {
  position: absolute;
  top: 10%;
  margin-left: 10px;
}

.issues-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.issue-list-items {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-around;
}

.issue-link {
  width: 100%;
  height: auto;
}

.selected-issue {
  background-color: purple;
}
