.issues-container-body {
  width: 50vw;
}

.issues-container-header {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-flow: row;
}

#ascend-descend-button {
  position: absolute;
  top: 10%;
  margin-left: 10px;
}
