.page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  max-width: 100vw;
  max-height: 100vh;
  width: auto;
  height: auto;
}

.page-wrapper {
  display: flex;
  justify-content: center;
}

.page-navbar-wrapper {
  position: absolute;
  bottom: 0;
  left: 50vw;
  transform: translate(-50%);
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.page-navbar {
  width: 80vw;
  background-color: rgba(13, 7, 45, 0.772);
  display: flex;
  border-radius: 40px;
  animation-duration: 0.2s;
  animation-name: fadeIn;
  opacity: 1;
}

.page-header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 50px;
  z-index: 2;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.772);
  text-transform: capitalize;
  z-index: 100;
  width: 100vw;
  display: flex;

  justify-content: space-around;
}

#back-icon {
  display: flex;
  align-items: center;
}

.slider-number {
  margin: 10px;
  display: flex;
}

.slider-number > svg {
  cursor: pointer;
}

#page-slider {
  margin-left: 4px;
  margin-right: 4px;
}

#slider-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.sticky {
  opacity: 1;
  animation-duration: 0.2s;
  animation-name: fadeIn;
}

.fade-in {
  opacity: 1;
  animation-duration: 0.2s;
  animation-name: fadeIn;
}

.fade-out {
  opacity: 1;
  animation-duration: 0.2s;
  animation-name: fade-out;
}

.page-header.none {
  opacity: 1;
  animation-duration: 0.2s;
  animation-name: fadeIn;
}

.next-issue-info {
  text-align: center;
  margin-top: 25%;
}

.next-issue-info > h2 {
  text-transform: capitalize;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
