.reading-list-search-result-info > .reading-list-name {
  font-weight: bold;
  font-size: 22px;
}

.reading-list-search-result-info > .reading-list-author {
  font-style: italic;
}

.reading-list-search-result-info > .reading-list-description {
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-all;
}
#reading-list-search-results {
  overflow-y: scroll;
}
