.reading-list-fab {
  position: fixed;
  z-index: 99;
  top: 5%;
  right: 15px;
}

.reading-list-fab-menu {
  background-color: rgb(47, 47, 47);
  position: fixed;
  max-height: 70%;
  max-width: 400px;
  overflow: scroll;
  z-index: 98;
  right: 15px;
  top: 12%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2%;
}

.reading-list-fab-menu::-webkit-scrollbar {
  display: none;
}
