.reading-list-fab {
  position: fixed;
  z-index: 99;
  top: 5%;
  right: 15px;
}

.reading-list-fab-menu {
  background-color: black;
  position: fixed;
  max-height: 300px;
  width: 200px;
  overflow: scroll;
  z-index: 98;
  right: 15px;
  top: 12%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
}

.reading-list-fab-menu::-webkit-scrollbar {
  display: none;
}
