#auth-form-toggle {
  text-decoration: underline;
  cursor: pointer;
}
#user-auth {
  display: flex;
  flex-flow: column;
  background-color: black;
  height: fit-content;
  width: max-content;
  padding: 40px;
}
