.comic-in-list {
  text-align: center;
  width: 300px;
}

.comic-in-list > img {
  margin: auto;
  box-shadow: 3px 3px black;
}

.comic-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
